<div class="container" data-aos="fade-up" ng-controller="changePasswordCtrl">
  <br /><br /><br />
  <div class="row justify-content-center">
    <div
      class="col-lg-4 col-md-6 col-sm-8 col-12 py-5 rounded-4"
      style="background-color: rgba(225, 240, 218, 0.5);box-shadow: 0 7px 0 #BFD8AF; border: 3px solid #BFD8AF;"
    >
      <h1 style="font-weight: 700; color: #58cc02" class="text-center py-1 mb-5">Đổi mật khẩu</h1>
      <div class="col">
        <form name="formChangePassword">
          <!-- <div class="mb-3"> -->
          <!-- <label for="exampleInputEmail1" class="form-label">Email</label>
            <input
              type="email"
              class="form-control formCtrl mb-2"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              ng-model="email"
            /> -->
          <!-- </div> -->
          <!-- <label for="inputPassword5" class="form-label">Tên người dùng</label>
          <input
            type="text"
            id="inputPassword5"
            class="form-control formCtrl mb-2"
            aria-describedby="passwordHelpBlock"
            ng-model="username"
          /> -->
          <div class="mb-3">
            <label for="inputPassword6" class="form-label fw-bold">Nhập mật khẩu cũ</label>
          <input
            type="password"
            id="oldPassword"
            name="oldPassword"
            class="form-control formCtrl mb-2 fw-bold"
            aria-describedby="passwordHelpBlock"
            ng-model="currentPassword"
            required
          />
          <i class="alert1" ng-show="formChangePassword.oldPassword.$invalid">Vui lòng nhập mật khẩu cũ</i>
          </div>
          <div class="mb-3">
            <label for="inputPassword7" class="form-label fw-bold">Nhập mật khẩu mới</label>
          <input
            type="password"
            id="newPassword"
            name="newPassword"
            class="form-control formCtrl mb-2 fw-bold"
            aria-describedby="passwordHelpBlock"
            ng-model="newPassword"
            required
          />
          <i class="alert1" ng-show="formChangePassword.newPassword.$invalid">Vui lòng nhập mật khẩu mới</i>
          </div>
          <div class="mb-3">
            <label for="inputPassword8" class="form-label fw-bold">Xác nhận mật khẩu mới</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            class="form-control formCtrl mb-2 fw-bold"
            aria-describedby="passwordHelpBlock"
            ng-model="confirmPassword"
            required
          />
          <i class="alert1" ng-show="formChangePassword.confirmPassword.$invalid">Xác nhận mật khẩu mới</i>
          </div>
          <div class="mb-2 form-check"></div>
          <div class="text-center">
            <button
              type="button"
              class="btn btn-primary fw-bold px-5 fs-5"
              style="background-color: #58cc02"
              ng-click="changePassword()"
            >
              Xác nhận
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="p-5"></div>
</div>


