
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
          <a href="#">
            <img src="assets/img/0cecd302cf0bcd0f73d51768feff75fe.svg" alt=""/>
            <span style="font-weight: 800; font-size: 35px; font-family: Feather Bold"
              >quizduo</span
            >
          </a>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a class="nav-link" href="#!home">Trang chủ</a>
            </li>
            <li><a class="nav-link" href="#!about">Giới thiệu</a></li>
            <li><a class="nav-link" href="#!subject">Môn học</a></li>
            <li><a class="nav-link" href="#!faq">Hỏi đáp</a></li>
            <li><a class="nav-link" href="#!contact">Liên hệ</a></li>
            <li ng-if="isLoggedIn">
              <a href="" class="nav-link" style="color: #58cc02"
                >Xin chào {{getStudent.username}} ✌!</a
              >
            </li>
            <li class="dropdown">
              <a href="#!account" class="nav-link"
                ><span>Tài khoản</span>
                <i class="bi bi-chevron-down"></i>
                <!-- <span ng-if="username != null">{{username}}</span>
                <i class="bi bi-chevron-down"></i> -->
              </a>
              <ul>
                <li ng-show="!isLoggedIn"><a href="#!signIn">Đăng nhập</a></li>
                <li ng-show="!isLoggedIn"><a href="#!signUp">Đăng ký</a></li>
                <li ng-show="isLoggedIn">
                  <a href="" ng-click="logout()">Đăng xuất</a>
                </li>
                <li ng-show="!isLoggedIn"><a href="#!/forgot">Quên mật khẩu</a></li>
                <li ng-show="isLoggedIn"><a href="#!/change">Đổi mật khẩu</a></li>
              </ul>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->