<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="container" data-aos="fade-down">
    <h1 style="font-family: Feather Bold;">Chào mừng bạn tới <span style="color: #58cc02; font-weight: 800; font-family: Feather Bold; font-size: 70px;">quizduo</span></h1>
    <h2 style="font-weight: 550">
      Website của chúng tôi đem đến cho bạn những bài học bổ ích về lập trình.
    </h2>
    <div class="d-flex align-items-center">
      <i class="bx bxs-right-arrow-alt get-started-icon"></i>
      <a
        href="#!about"
        class="btn-get-started scrollto"
        style="font-weight: 500"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        >Xem thêm</a
      >
    </div>
  </div>
</section>
<!-- End Hero -->
<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube-nocookie.com/embed/IEHiY8scAKI?si=6nHQUm-zDeM5CRW2"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
<main id="main">
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5" data-aos="fade-up">
          <div class="content">
            <h3 style="font-weight: 700">Tại sao nên chọn website của chúng tôi?</h3>
            <p class="fw-medium">
              Tại đây, chúng tôi cung cấp những bài học hữu ích để bạn có thể thu thập kiến thức từ
              cơ bản đến nâng cao về nhiều khía cạnh trong các ngôn ngữ lập trình phổ biến.
            </p>
            <div class="text-center">
              <a href="#!/subject" class="more-btn" style="font-weight: 700"
                >Học thôi <i class="bx bx-chevron-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-7 d-flex">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div
                class="col-xl-4 d-flex align-items-stretch"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4 style="font-family: Feather Bold;">Đa đạng môn học</h4>
                  <p>
                    Khám phá các khía cạnh đa dạng của lập trình, từ những ngôn ngữ cơ bản đến kỹ
                    năng chuyên sâu, mang đến nền tảng vững chắc và đa năng.
                  </p>
                </div>
              </div>
              <div
                class="col-xl-4 d-flex align-items-stretch"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt"></i>
                  <h4 style="font-family: Feather Bold;">Đa nền tảng</h4>
                  <p>
                    Học cách phát triển ứng dụng trên nhiều nền tảng khác nhau như di động, web và
                    máy tính để tạo ra sản phẩm linh hoạt và tiếp cận rộng rãi.
                  </p>
                </div>
              </div>
              <div
                class="col-xl-4 d-flex align-items-stretch"
                data-aos="fade-up"
                data-aos-delay="300"
              >
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-images"></i>
                  <h4 style="font-family: Feather Bold;">Hình ảnh chất lượng</h4>
                  <p>
                    Tạo ra trải nghiệm tốt nhất cho người dùng bằng cách thiết kế giao diện hấp dẫn
                    và đồ họa ứng dụng sáng tạo và chất lượng cao.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->

  <!-- Count Section -->
  <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="2354"
                data-purecounter-duration="1"
                class="purecounter"
                >1,235</span
              >
              <p>Khách hàng</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-journal-richtext" style="color: #ee6c20"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="21"
                data-purecounter-duration="1"
                class="purecounter"
                >21</span
              >
              <p>Bài học</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-headset" style="color: #15be56"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="100"
                data-purecounter-duration="1"
                class="purecounter"
                >100</span
              >
              <p>Nhân viên hỗ trợ</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-people" style="color: #bb0852"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="15"
                data-purecounter-duration="1"
                class="purecounter"
                >923</span
              >
              <p>Người học chăm chỉ</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Counts Section -->
<section id="values" class="values" data-aos="fade-up">
  <div class="container" ng-controller="subjectCtrl">
    <h1 style="font-weight: 800; color: #58cc02;" class="text-center">Môn học</h1>

    <div class="row">
      <div
        class="col-md-3 d-flex align-items-stretch mt-4"
        ng-repeat="sub in list_subject|limitTo:pageSize:start"
      >
        <div class="card text-center py-4" style="box-shadow: 0 5px 0 #e5e5e5; border: 3px solid #e5e5e5;">
          <div class="card-header" style="font-weight: 500; min-height: 80px; font-size: 20px;">{{sub.Name}}</div>
          <div class="card-body mb-5"><img src="/assets/img/logos/{{sub.Logo}}" alt="" /></div>
          <div class="card-footer">
            <a
              href="#!/quiz/{{sub.Id}}/{{sub.Name}}"
              class="btn btn-primary text-light py-3 fw-medium"
              style="background-color: #58c002; text-transform: none"
              >BẮT ĐẦU LÀM <i class="bi bi-arrow-up-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-5" data-aos="fade-up" data-aos-delay="100">
      <button
        class="btn btn-primary1 fw-medium text-light"
        ng-click="prev()"
        style="background-color: #1cb0f6; margin-right: 10px"
        ng-show="start != 0"
      >
        <i class="bi bi-arrow-bar-left"></i> Trang trước
      </button>
      <button
        class="btn btn-primary1 fw-medium text-light"
        ng-click="next()"
        style="background-color: #1cb0f6; margin-right: 10px"
        ng-show="start + pageSize < list_subject.length"
      >
        Trang tiếp <i class="bi bi-arrow-bar-right"></i>
      </button>
    </div>
  </div>
</section>
<!-- End Values Section -->
</main>
