<div class="container mb-5 mt-5 p-5" data-aos="fade-up">
  <!-- <div class="text" ng-repeat="sub in list_subject"><h1>{{sub.Name}}</h1></div> -->
  <div
    class="card"
    ng-if="handed == false"
    style="
      box-shadow: 0 5px 0 #e5e5e5;
      border: 2px solid #e5e5e5;
      padding: 10px;
      min-width: 1280px;
      border-radius: 20px;
    "
  >
    <div class="card-header text-center" style="min-height: 230px">
      <p class="text-danger fw-bold fs-5" id="time">Thời gian làm bài: {{timeHanded}}</p>
      <p class="fw-bold fs-4 mt-5">{{currentIndex + 1}}. {{currentQuestion.Text}}</p>
    </div>
    <div class="card-body" style="min-height: 230px; font-weight: 600;">
      <div class="card-text">
        <div class="row">
          <div
            class="col-3"
            value="{{pa.Id}}"
            ng-repeat="pa in currentQuestion.Answers"
            ng-if="currentQuestion.Answers.length == 4"
          >
            <button
              class="btn quiz-btn text-center"
              ng-click="selected(pa.Id)"
              style="max-width: 290px; min-width: 290px; max-height: 210px; min-height: 210px"
            >
              {{pa.Text}}
            </button>
          </div>
          <div
            class="col-2 text-center me-4 ms-2"
            value="{{pa.Id}}"
            ng-repeat="pa in currentQuestion.Answers"
            ng-if="currentQuestion.Answers.length == 5"
          >
            <button
              class="btn quiz-btn text-center"
              ng-click="selected(pa.Id)"
              style="
                min-width: 230px;
                max-width: 230px;
                max-height: 210px;
                min-height: 210px;
                position: relative;
              "
            >
              {{pa.Text}}
            </button>
          </div>
          <div
            class="col-2"
            value="{{pa.Id}}"
            ng-repeat="pa in currentQuestion.Answers"
            ng-if="currentQuestion.Answers.length == 6"
          >
            <button
              class="btn quiz-btn text-center"
              ng-click="selected(pa.Id)"
              style="max-width: 190px; min-width: 190px; max-height: 210px; min-height: 210px"
            >
              {{pa.Text}}
            </button>
          </div>
          <div
            class="col-6 text-center"
            value="{{pa.Id}}"
            ng-repeat="pa in currentQuestion.Answers"
            ng-if="currentQuestion.Answers.length < 4"
          >
            <button
              class="btn quiz-btn text-center"
              ng-click="selected(pa.Id)"
              style="
                max-width: 590px;
                min-width: 590px;
                max-height: 210px;
                min-height: 210px;
                position: relative;
              "
            >
              {{pa.Text}}
            </button>
          </div>
        </div>
        <!-- <input
          class="form-check-input border-2"
          type="radio"
          id="pa"
          name="pa"
          value="{{pa.Id}}"
          ng-click="selected(pa.Id)"
        />
        <label class="form-check-label" for="pa">{{pa.Text}}</label> -->
      </div>
    </div>
    <!-- <div class="card-footer text-muted">Điểm: {{ch.Marks}}</div> -->
    <div class="card-footer text-center" style="min-height: 60px; margin-top: 80px">
      <button
        class="btn btn-primary fw-bold"
        ng-click="prev()"
        style="background-color: #58c002; margin-right: 10px"
        ng-show="currentIndex > 0"
      >
        <i class="bi bi-arrow-bar-left"></i> Câu trước
      </button>
      <button
        class="btn btn-primary fw-bold"
        ng-click="next()"
        style="background-color: #58c002; margin-right: 10px"
      >
        Câu sau <i class="bi bi-arrow-bar-right"></i>
      </button>
      <button
        class="btn btn-primary1 fw-bold"
        ng-click="handIn()"
        style="background-color: #1cb0f6; color: #fff; margin-right: 10px"
      >
        Nộp bài <i class="bi bi-arrow-bar-up"></i>
      </button>
    </div>
  </div>
  <div
    class="container-xxl py-5"
    ng-if="handed === true"
    style="box-shadow: 0 5px 0 #e5e5e5; border: 3px solid #e5e5e5; border-radius: 15px"
  >
    <p class="h3 wow fadeInUp d-flex justify-content-center mt-4 mb-4 h3" data-wow-delay="0.3s">
      Bạn đã làm xong bộ câu hỏi này
    </p>
    <div class="row g-4 d-flex justify-content-between mb-3 p-5">
      <!-- <div class="col-4">
                  <p class="text-center wow fadeInUp mt-3 h5 " data-wow-delay="0.3s">Điểm của bạn:
                      {{totalPoint}}/10
                      <i class="bi bi-pen-fill"></i>
                  </p>
              </div>
              <div class="col-4">
                  <p class="wow fadeInUp h5 text-danger mt-3" data-wow-delay="0.3s" id="time">Thời gian đã
                      làm
                      bài:
                      {{renderTime }} <i class="bi bi-stopwatch-fill"></i></p>
              </div> -->
      <div
        class="col-5 rounded-4 text-center"
        style="
          height: 120px;
          background-color: #d4e7c5;
          box-shadow: 0 5px 0 #bfd8af;
          border: 3px solid #bfd8af;
        "
      >
        <label for="" class="mt-2 h5 text-black" data-wow-delay="0.3s">Câu đúng </label> <br>
        <label for="" class="mt-2 h5 text-black"><span class="fs-1" ng-class="{'text-success': countPoint > 5, 'text-danger': countPoint <= 5}">{{countPoint}}</span></label>
      </div>
      <div
        class="col-5 rounded-4 text-center"
        style="
          height: 120px;
          background-color: #d4e7c5;
          box-shadow: 0 5px 0 #bfd8af;
          border: 3px solid #bfd8af;
        "
      >
        <label for="" class="mt-2 h5 text-black">Điểm số:</label><br />
        <label for="" class="mt-2 h5 text-black"><span class="fs-1" ng-class="{'text-success': totalPoint > 5, 'text-danger': totalPoint <= 5}">{{totalPoint}}</span></label>
      </div>
    </div>
    <div class="">
      <div class="d-flex justify-content-center mt-5 mb-1">
        <button
          class="btn btn-primary fw-medium"
          ng-click="again()"
          style="background-color: #58c002"
        >
          Làm lại <i class="bi bi-arrow-clockwise"></i>
        </button>
        <button
          class="btn btn-primary ms-3 me-3 fw-medium"
          ng-click="showAnswer()"
          style="background-color: #58c002"
        >
          Xem đáp án <i class="bi bi-view-list"></i>
        </button>
      </div>

      <div ng-if="show === true" ng-repeat="questions in historyQuestion.answers">
        <div class="pt-3">
          <div class="h-100 p-4 border rounded-3 s-color">
            <h4 class="mb-3">{{questions.Text}}</h4>
            <p ng-repeat="single in questions.Answers" ng-if="single.Id === questions.AnswerId">
              Đáp án đúng: <span class="fw-bold">{{single.Text}}</span>
            </p>
            <p
              class="text-success"
              ng-repeat="single in historyQuestionRight"
              ng-if="single.answers === questions.AnswerId"
            >
              <i class="bi bi-check-square"></i> Bạn chọn đúng
            </p>
            <p
              class="text-danger"
              ng-repeat="single in historyQuestionWrong"
              ng-if="single.questionId === questions.Id"
            >
              <i class="bi bi-x-square"></i> Bạn chọn sai
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
