<div class="container mb-5 mt-5 p-5">
  <!-- <div class="text" ng-repeat="sub in list_subject"><h1>{{sub.Name}}</h1></div> -->
  <div class="card" ng-if="handed == false">
    <div class="card-header text-center" style="min-height: 230px">
      <p class="text-danger fw-medium fs-5" id="time">Thời gian làm bài: {{timeHanded}}</p>
      <p class="fw-medium fs-4 mt-5">{{currentIndex + 1}}. {{currentQuestion.Text}}</p>
    </div>
    <div class="card-body" style="min-height: 230px">
      <div class="card-text">
        <div class="row">
          <div
            class="col-3"
            value="{{pa.Id}}"
            ng-repeat="pa in currentQuestion.Answers"
            ng-if="currentQuestion.Answers.length == 4"
          >
            <button
              class="btn quiz-btn text-center"
              ng-click="selected(pa.Id)"
              style="max-width: 290px; min-width: 290px; max-height: 210px; min-height: 210px;"
            >
              {{pa.Text}}
            </button>
          </div>
          <div
            class="col-2 text-center me-4 ms-2"
            value="{{pa.Id}}"
            ng-repeat="pa in currentQuestion.Answers"
            ng-if="currentQuestion.Answers.length == 5"
          >
            <button
              class="btn quiz-btn text-center"
              ng-click="selected(pa.Id)"
              style="
                min-width: 230px;
                max-width: 230px;
                max-height: 210px;
                min-height: 210px;
                position: relative;
              "
            >
              {{pa.Text}}
            </button>
          </div>
          <div
            class="col-2"
            value="{{pa.Id}}"
            ng-repeat="pa in currentQuestion.Answers"
            ng-if="currentQuestion.Answers.length == 6"
          >
            <button
              class="btn quiz-btn text-center"
              ng-click="selected(pa.Id)"
              style="max-width: 190px; min-width: 190px; max-height: 210px; min-height: 210px"
            >
              {{pa.Text}}
            </button>
          </div>
          <div
            class="col-6 text-center"
            value="{{pa.Id}}"
            ng-repeat="pa in currentQuestion.Answers"
            ng-if="currentQuestion.Answers.length < 4"
          >
            <button
              class="btn quiz-btn text-center"
              ng-click="selected(pa.Id)"
              style="
                max-width: 590px;
                min-width: 590px;
                max-height: 210px;
                min-height: 210px;
                position: relative;
              "
            >
              {{pa.Text}}
            </button>
          </div>
        </div>
        <!-- <input
          class="form-check-input border-2"
          type="radio"
          id="pa"
          name="pa"
          value="{{pa.Id}}"
          ng-click="selected(pa.Id)"
        />
        <label class="form-check-label" for="pa">{{pa.Text}}</label> -->
      </div>
    </div>
    <!-- <div class="card-footer text-muted">Điểm: {{ch.Marks}}</div> -->
    <div class="card-footer text-center" style="min-height: 60px">
      <button
        class="btn btn-primary py-2 fw-medium"
        ng-click="prev()"
        style="background-color: #58c002"
        ng-show="currentIndex > 0"
      >
        <i class="bi bi-arrow-bar-left"></i> Câu trước
      </button>
      <button
        class="btn btn-primary py-2 fw-medium"
        ng-click="next()"
        style="background-color: #58c002"
      >
        Câu sau <i class="bi bi-arrow-bar-right"></i>
      </button>
      <button
        class="btn btn-primary1 py-2 fw-medium"
        ng-click="handIn()"
        style="background-color: #1cb0f6; color: #fff"
      >
        Nộp bài <i class="bi bi-arrow-bar-up"></i>
      </button>
    </div>
  </div>
  <div class="container-xxl py-5" ng-if="handed === true">
    <div class="border border-2 rounded-sm bg-light">
      <p class="h3 wow fadeInUp d-flex justify-content-center mt-4 mb-4 h3" data-wow-delay="0.3s">
        Bạn đã làm xong bộ câu hỏi này
      </p>
      <div class="row g-4 d-flex justify-content-between mb-3 p-5">
        <!-- <div class="col-4">
                  <p class="text-center wow fadeInUp mt-3 h5 " data-wow-delay="0.3s">Điểm của bạn:
                      {{totalPoint}}/10
                      <i class="bi bi-pen-fill"></i>
                  </p>
              </div>
              <div class="col-4">
                  <p class="wow fadeInUp h5 text-danger mt-3" data-wow-delay="0.3s" id="time">Thời gian đã
                      làm
                      bài:
                      {{renderTime }} <i class="bi bi-stopwatch-fill"></i></p>
              </div> -->
        <div class="col-5 rounded" style="height: 120px; background-color: #99bc85">
          <label
            for=""
            class="d-flex justify-content-center mt-3 h5 text-light"
            data-wow-delay="0.3s"
            >Câu đúng
            <!-- <i class="bi bi-info-circle"></i> -->
          </label>
          <div class="skills mt-3">
            <div class="skill">
              <div class="skill-bar">
                <div
                  class="skill-per"
                  ng-attr-per="{{percent}}"
                  ng-style="{ 'max-width': percent }"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-5 rounded d-flex justify-content-between"
          style="height: 120px; background-color: #99bc85"
        >
          <div class="col-3">
            <label for="" class="mt-3 h5 text-light">Điểm số</label><br />
            <label for="" class="h5 wow fadeInUp mt-3 h5 text-light">{{totalPoint}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="border">
      <div class="d-flex justify-content-center wow fadeInUp mt-4 mb-5">
        <button
          class="btn btn-primary fw-medium"
          ng-click="again()"
          style="background-color: #58c002"
        >
          Làm lại <i class="bi bi-arrow-clockwise"></i>
        </button>
        <button
          class="btn btn-primary ms-3 me-3 fw-medium"
          ng-click="showAnswer()"
          style="background-color: #58c002"
        >
          Xem đáp án <i class="bi bi-view-list"></i>
        </button>
      </div>

      <div ng-if="show === true" ng-repeat="questions in historyQuestion.answers">
        <div class="pt-3">
          <div class="h-100 p-4 border rounded-3 s-color">
            <h4 class="mb-3">{{questions.Text}}</h4>
            <p ng-repeat="single in questions.Answers" ng-if="single.Id === questions.AnswerId">
              Đáp án đúng: <span class="fw-bold">{{single.Text}}</span>
            </p>
            <p
              class="text-success"
              ng-repeat="single in historyQuestionRight"
              ng-if="single.answers === questions.AnswerId"
            >
              <i class="bi bi-check-square"></i> Bạn chọn đúng
            </p>
            <p
              class="text-danger"
              ng-repeat="single in historyQuestionWrong"
              ng-if="single.questionId === questions.Id"
            >
              <i class="bi bi-x-square"></i> Bạn chọn sai
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
