<div class="container" data-aos="fade-up">
  <br /><br /><br />
  <div class="row justify-content-center">
    <div
      class="col-lg-4 col-md-6 col-sm-8 col-12 py-5 rounded-4"
      style="
        background-color: rgba(225, 240, 218, 0.5);
        box-shadow: 0 7px 0 #bfd8af;
        border: 3px solid #bfd8af;
      "
    >
      <h1 style="font-weight: 700; color: #58cc02" class="text-center py-1 mb-5">Đăng ký</h1>
      <div class="col fw-bold">
        <form ng-controller="registerCtrl" name="formSignup">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label fw-bold">Tên đăng nhập</label>
            <input
              type="text"
              class="form-control formCtrl mb-2 fw-bold"
              id="exampleInputEmail1"
              name="username"
              aria-describedby="emailHelp"
              ng-model="username"
              required
              ng-minlength="3"
              ng-maxlength="10"
            />
            <i class="alert1" ng-show="formSignup.username.$invalid"
              >Tên đăng nhập phải từ 3 đến 10 ký tự</i
            >
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label fw-bold">Họ và tên</label>
            <input
              type="text"
              class="form-control formCtrl mb-2 fw-bold"
              id="exampleInputEmail1"
              name="fullname"
              aria-describedby="emailHelp"
              ng-model="fullname"
              required
            />
            <i class="alert1" ng-show="formSignup.fullname.$invalid"
              >Vui lòng nhập họ và tên của bạn</i
            >
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label fw-bold">Email</label>
            <input
              type="email"
              class="form-control formCtrl mb-2 fw-bold"
              id="exampleInputEmail1"
              name="email"
              aria-describedby="emailHelp"
              ng-model="email"
              required
            />
            <i class="alert1" ng-show="formSignup.email.$invalid">Email phải bao gồm @gmail.com</i>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label fw-bold">Mật khẩu</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control formCtrl mb-2 fw-bold"
              ng-model="password"
              required
            />
            <i class="alert1" ng-show="formSignup.password.$invalid"
              >Mật khẩu phải bao gồm 1 số và 1 ký tự đặc biệt</i
            >
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label fw-bold">Xác nhận mật khẩu</label>
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              class="form-control formCtrl mb-2 fw-bold"
              ng-model="confirmPassword"
            />
            <i class="alert1" ng-show="formSignup.confirmPassword.$invalid"
              >Vui lòng xác nhận mật khẩu</i
            >
          </div>
          <div class="mb-3">
            <label for="inputPassword5" class="form-label fw-bold">Giới tính</label>

            <div class="form-check" ng-repeat="gender in genderOption">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault1"
                value="{{gender}}"
                ng-model="gender"
              />
              <label class="form-check-label" for="flexRadioDefault1"> {{gender}} </label>
            </div>
          </div>
          <label for="inputPassword5" class="form-label fw-bold">Ngày sinh</label>
          <input
            type="date"
            id="inputPassword5"
            class="form-control formCtrl mb-2 fw-bold"
            name="birthday"
            aria-describedby="passwordHelpBlock"
            ng-model="birthday"
            required
          />
          <i class="alert1" ng-show="formSignup.birthday.$invalid">Vui lòng chọn ngày sinh</i>
          <div class="mb-3 mt-3">
            <label for="schoolFee" class="form-label fw-bold">Học phí</label>
            <input
              type="test"
              id="schoolFee"
              name="schoolFee"
              class="form-control formCtrl mb-2 fw-bold"
              ng-model="schoolfee"
              required
            />
            <i class="alert1" ng-show="formSignup.schoolFee.$invalid">Vui lòng nhập học phí</i>
          </div>
          <div class="mb-3">
            <label for="marks" class="form-label fw-bold">Điểm</label>
            <input
              type="text"
              id="marks"
              name="mark"
              class="form-control formCtrl mb-2 fw-bold"
              ng-model="marks"
              required
            />
            <i class="alert1" ng-show="formSignup.mark.$invalid">Vui lòng nhập điểm</i>
          </div>
          <div class="text-center">
            <button
              class="btn btn-primary fw-bold px-5 fs-5 mt-3"
              style="background-color: #58cc02"
              ng-click="postdata()"
            >
              Đăng ký
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="p-5"></div>
</div>
