<section id="values" class="values" style="margin-top: 20px">
  <div class="container">
    <h1 data-aos="fade-up" style="font-weight: 800; color: #58cc02" class="text-center mb-5">
      Môn học
    </h1>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div
        class="col-md-3 d-flex align-items-stretch mt-4"
        ng-repeat="sub in list_subject|limitTo:pageSize:start"
      >
        <div
          class="card text-center py-4 mb-5"
          style="box-shadow: 0 5px 0 #e5e5e5; border: 3px solid #e5e5e5"
        >
          <div class="card-header" style="min-height: 80px; font-size: 20px">
            {{sub.Name}}
          </div>
          <div class="card-body mb-2"><img ng-src="/assets/img/logos/{{sub.Logo}}" alt="" /></div>
          <div class="card-footer">
            <a
              href="#!/quiz/{{sub.Id}}/{{sub.Name}}"
              class="btn btn-primary text-light px-5"
              style="background-color: #58c002; text-transform: none; font-weight: 700;"
              >BẮT ĐẦU LÀM </a>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-5" data-aos="fade-up" data-aos-delay="200">
      <button
        class="btn btn-primary1 text-light px-4"
        ng-click="prev()"
        style="background-color: #1cb0f6; margin-right: 10px; font-weight: 700;"
        ng-show="start != 0"
      >
        <i class="bx bxs-left-arrow"></i>
        Trang trước
      </button>
      <button
        class="btn btn-primary1 text-light px-4"
        ng-click="next()"
        style="background-color: #1cb0f6; margin-right: 10px; font-weight: 700;"
        ng-show="start + pageSize < list_subject.length"
      >
        Trang tiếp
        <i class="bx bxs-right-arrow"></i>
      </button>
    </div>
  </div>
  <div class="p-5 mb-5"></div>
</section>
<!-- End Values Section -->
